<section class="e-card">
  <form [formGroup]="ledgerForm" novalidate name="ledgerForm">

    <div class="container-fluid">
      <div class="row">
        <div class="col-6">
          <input class="e-input" name="description" formControlName="description" id="description" placeholder="Description" />
        </div>
        <div class="col-5"></div>
        <ejs-datepicker formControlName="date" id="date" name="date" placeholder="Select Date"></ejs-datepicker>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-strip">
            <thead>
              <tr>
                <th>Account</th>
                <th>Debit</th>
                <th>Credit</th>
                <th>Reference</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let account of accounts.controls; let i=index; let last=last;" [formGroup]="account">
                <td>
                  <ejs-dropdownlist id='parentAccount' placeholder="Parent Account" name="parentAccount" [query]="accountQuery"
                    [fields]="accountFields" formControlName="AccountId" [dataSource]='accountList'></ejs-dropdownlist>
                </td>
                <td>
                  <ejs-numerictextbox formControlName="Credit" name="creation" id="credit" placeholder="Credit">
                  </ejs-numerictextbox>
                </td>
                <td>
                  <ejs-numerictextbox formControlName="Credit" name="creation" id="credit" placeholder="Credit">
                  </ejs-numerictextbox>
                </td>
                  <td>
                    <div class="col-6">
                      <input class="e-input" name="Reference" formControlName="Reference" id="Reference" placeholder="Reference" />
                    </div>
                  </td>
                <button ejs-button class="e-flat e-round e-small" (click)="addForm()">Add</button>
                <button ejs-button class="e-flat e-round e-small" (click)="accounts.removeAt(i)">Remove</button>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>



  </form>


</section>
