<div class="e-card">

</div>
<div class="e-card">
<div  class='e-resizable'>

  <ejs-grid [dataSource]='data' #grid id='Grid' #gridd id='Grid' [rowHeight]='30' [toolbar]='toolbarOptions' [allowPaging]="true" [pageSettings]='pageSettings'  height='100%' width='100%'
    [allowSorting]="true" [allowFiltering]="true" [allowGrouping]="true" [allowResizing]='true' [EditService]="true" [showColumnChooser]='true'
    [ColumnMenuService]="true" [DetailRowService]="true" [SearchService]="true" [PdfExportService]="true" [ReorderService]="true"
    [CommandColumnService]="true" showColumnMenu='true' [groupSettings]='groupOptions' allowFiltering='true' [filterSettings]='filterOptions'
    allowTextWrap='true' [textWrapSettings]='wrapSettings' gridLines='Both' [editSettings]='editSettings' [selectionSettings]='selectionOptions'
    [allowPdfExport]='true' (toolbarClick)='toolbarClick($event)' 
    >
    <e-columns>
      <e-column type='checkbox' width='50'></e-column>
      <e-column field='id' headerText='User ID' textAlign='Center' width=90 isPrimaryKey='true'></e-column>
      <e-column field='First_Name' headerText='First Name' textAlign='Center' width=90></e-column>
      <e-column field='Last_Name' headerText='Last Name' textAlign='Center' width=90></e-column>
      <e-column field='Account_Id' headerText='Account Id' textAlign='Center' width=90></e-column>
      <e-column field='Gender' headerText='Gender' textAlign='Center' width=90></e-column>
      <e-column field='Birth_Date' headerText='Birth Date' textAlign='Center' format='yMd' width=90></e-column>
      <e-column field='Date_Added' headerText='Date Added' textAlign='Center' format='yMd' width=90></e-column>
      <e-column field='Date_Updated' headerText='Date Updated' textAlign='Center' format='yMd'   width=90></e-column>
    </e-columns>
  </ejs-grid>
</div>
</div>


<!-- ConfirmDelete
editType= 'dropdownedit' -->
