<div class="e-card">
<div class="col-lg-12 control-section e-input-section">
    <div class="col-lg-12">
        <h4 class="form-title">Currency Form</h4>
    </div>
    <div>
        <form id="reactive" [formGroup]="currencyForm" (ngSubmit)="onSubmit()">
            <div class="content-wrapper">
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group template">
                        <div class="e-float-input">
                            <input type="text" id="name" name="name" class="required" formControlName="name" required>
                            <span class="e-float-line"></span>
                            <label class="e-float-text" for="name">Name</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group template">
                        <div class="e-float-input">
                            <input type="text" id="abrevation" name="abrevation" class="required" formControlName="abrevation"
                                required>
                            <span class="e-float-line"></span>
                            <label class="e-float-text" for="abrevation">Abrevation</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group template">
                        <div class="e-float-input">
                            <input type="text" id="symbol" name="symbol" class="required" formControlName="symbols"
                                required>
                            <span class="e-float-line"></span>
                            <label class="e-float-text" for="symbol">Symbol</label>
                        </div>
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group template">
                        <div class="e-float-input">
                            <input type="text" id="country" name="country" class="required" formControlName="country"
                                required>
                            <span class="e-float-line"></span>
                            <label class="e-float-text" for="country">Country</label>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
                    <div class="form-group template">
                        <div class="e-float-text"><i><b>Default?</b></i></div>
                        <ejs-switch name="status"></ejs-switch>
                    </div>
                </div> -->
            </div>
            <div class="btn">
                <button ejs-button cssClass="e-success" type="submit">
                    SUBMIT
                </button>
                &nbsp;
                <button ejs-button cssClass="e-primary" type="button" (click)="onCancel()">
                    CANCEL
                </button>
            </div>
        </form>
    </div>
</div>
</div>
