<div class="e-card">
  <div class='cont'>
    <div class="title">
      <h5>Customers Data</h5>
    </div>
    <ejs-grid [dataSource]='data' #grid id='ledger' [rowHeight]='30' height='100%' width='100%' [toolbar]='toolbar'
      [allowSorting]="true" allowPaging='true' [pageSettings]='initialPage' allowResizing='true' allowGrouping='true'
      [groupSettings]='groupOptions' allowFiltering='true' [filterSettings]='filterSettings' [allowSelection]='true'
      [editSettings]='editSettings' (toolbarClick)='toolbarClick($event)' [allowExcelExport]='true' [allowPdfExport]='true'
      [editSettings]='editSettings' allowTextWrap='true'>
      <e-columns>
        <e-column field='Id' [allowFiltering]="false" headerText='ID' textAlign='Center' width=90 isPrimaryKey='true'></e-column>
        <e-column field='Account' type="string" editType="textbox" headerText='Account Id' textAlign='Center' width=90></e-column>
        <e-column field='Name' type="string" editType="textbox" headerText='Account' textAlign='Center' width=90></e-column>
        <e-column field='Description' type="string" editType="textbox" headerText='Description' textAlign='Center'
          width=90></e-column>
        <e-column field='DateAdded' type="datetime" editType="datetimeedit" headerText='Added' textAlign='Center' width=90></e-column>
        <e-column field='DateUpdated' type="datetime" editType="datetimeedit" headerText='Updated' textAlign='Center'
          width=90></e-column>
        <e-column field='Amount' type="string" editType="textbox" headerText='Amount' textAlign='Center' width=90></e-column>

        <e-column headerText='Delete' width='60' [commands]='commands'></e-column>
      </e-columns>
    </ejs-grid>
  </div>

</div>
