<div class="e-card">


  <ejs-grid [dataSource]='data'
            #grid
            [allowExcelExport]="true"
            id='organization'
            [toolbar]='toolbarOptions'
            [allowPaging]="true"
            [pageSettings]='pageSettings'
            height='300px'
            [allowSorting]="true"
            [allowGrouping]="true"
            [allowResizing]='true'
            [showColumnChooser]='true'
            [selectionSettings]='selectionOptions'
            [groupSettings]='groupOptions'
            allowFiltering='true'
            allowTextWrap='true'
            [textWrapSettings]='wrapSettings'
            gridLines='Both'
            [editSettings]='editSettings'
            [selectionSettings]='selectionOptions'
            [allowPdfExport]='true'
            (toolbarClick)='toolbarClick($event)'
    >
    <e-columns>
      <e-column *ngFor="let column of gridColumns"
                [field]="column.field"
                [headerText]="column.text"
                [isPrimaryKey]="column.primaryKey"
                [format]="column.format"
                [type]='column'
                [allowEditing]="column.editable"

                [allowGrouping]="column.groupable"
                [editType]="column.editType"
                [isFrozen]="column.frozen"
                width='50'></e-column>

    </e-columns>
  </ejs-grid>

</div>
<!-- ConfirmDelete
editType= 'dropdownedit' -->
