/*
 * @CreateTime: Sep 6, 2018 4:53 PM
 * @Author:  Mikael Araya
 * @Contact: MikaelAraya12@gmail.com
 * @Last Modified By:  Mikael Araya
 * @Last Modified Time: Sep 6, 2018 4:53 PM
 * @Description: Modify Here, Please
 */


.e-card {
  margin: 30px;
  padding: 20px;
  text-align: center;
}
.submit-container, .submit-container button {
  margin: 10px;
}
