/*
 * @CreateTime: Sep 6, 2018 4:53 PM
 * @Author:  Mikael Araya
 * @Contact: MikaelAraya12@gmail.com
 * @Last Modified By:  Mikael Araya
 * @Last Modified Time: Sep 6, 2018 4:53 PM
 * @Description: Modify Here, Please
 */

.e-card {
    min-height: 100%;
    width: 90%;
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
    margin-top: 1%;
}
.submit-container, .submit-container button {
  margin: 10px;

}
.title {
  text-align: center;
}
.btn {
  padding-left: 60%;
  margin-left: 15%;
  text-align: left;
  align-content: center;

}
#control_wrapper {
  margin: 25px auto;
}
