Smart_Accounting/Smart_Accounting.Infrastructure/obj
Smart_Accounting/Smart_Accounting.API/obj
Smart_Accounting/Smart_Accounting.Commons/obj
Smart_Accounting/Smart_Accounting.Domain/obj/
Smart_Accounting/Smart_Accounting.Persistance/obj/
Smart_Accounting/Smart_Accounting.Application/obj/
node_modules/

