<div class="e-card">
  <div class="col-lg-12 control-section e-input-section">
    <div class="col-lg-12">
      <h4 class="form-title">Customer Form</h4>
    </div>
    <div>
      <form id="reactive" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
        <div class="content-wrapper">
          <div class="row">
            <!-- full name field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input" [ngClass]="{'e-success': customerForm.controls.FullName.valid}">
                  <input type="text" id="Full_Name" name="Full_Name" class="required" formControlName="FullName"
                    required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Full_Name">Full Name</label>
                </div>
                <div class="text-danger" *ngIf="FullName.errors">
                  *Full Name is Required!
                </div>
              </div>
            </div>
            <!-- email field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div id="mobile-no" class="e-float-input" [ngClass]="{'e-success': customerForm.controls.Email.valid}">
                  <input type="text" id="email" name="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    class="required" formControlName="Email">
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Email">Email</label>
                </div>
                <div class="text-danger" *ngIf="Email.errors">
                  *Email is Required!
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Phone number field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="number" name="phone" minlength="6" required class="required" formControlName="Phone_No">
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Phone_No">Phone No</label>
                </div>
                <div class="text-danger"  *ngIf="(customerForm.controls['Phone_No'].invalid && customerForm.controls['Phone_No'].touched) || (customerForm.controls['Phone_No'].invalid && showAllErrors)">
                  *Phone No is Required!
                </div>
              </div>
            </div>
            <!-- country field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="Country" name="Country" class="required" formControlName="Country" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Country">Country</label>
                </div>
                <div class="text-danger" *ngIf="(customerForm.controls['Country'].invalid && customerForm.controls['Country'].touched) || (customerForm.controls['Country'].invalid && showAllErrors)">
                  *Country is Required!
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- city field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="Account_Number" name="City" formControlName="City" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Account_Number">City</label>
                </div>
                <div class="text-danger" *ngIf="(customerForm.controls['City'].invalid && customerForm.controls['City'].touched) || (customerForm.controls['City'].invalid && showAllErrors)">
                  *City is Required!
                </div>
              </div>
            </div>
            <!-- subcity field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="Subcity" name="Subcity" class="required" formControlName="Subcity" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Subcity">Subcity</label>
                </div>
                <div class="text-danger" *ngIf="(customerForm.controls['Subcity'].invalid && customerForm.controls['Subcity'].touched) || (customerForm.controls['Subcity'].invalid && showAllErrors)">
                  *Subcity is Required!
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <!-- house number field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="House_No" name="House_No" formControlName="HouseNo" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="House_No">House Number</label>
                </div>
                <div class="text-danger" *ngIf="(customerForm.controls['HouseNo'].invalid && customerForm.controls['HouseNo'].touched) || (customerForm.controls['HouseNo'].invalid && showAllErrors)">
                  *House No is Required!
                </div>
              </div>
            </div>
            <!-- Postal Code field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="Postal_Code" name="Postal_Code" class="required" formControlName="Postalcode"
                    required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Postal_Code">Postal Code</label>
                </div>
                <div class="text-danger" *ngIf="(customerForm.controls['Postalcode'].invalid && customerForm.controls['Postalcode'].touched) || (customerForm.controls['Postalcode'].invalid && showAllErrors)">
                  *Postal code is Required!
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Balance is field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="Balance" name="Balance" formControlName="Balance" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Balance">Balance</label>
                </div>
                <div class="text-danger" *ngIf="(customerForm.controls['Balance'].invalid && customerForm.controls['Balance'].touched) || (customerForm.controls['Balance'].invalid && showAllErrors)">
                  *Balance is Required!
                </div>
              </div>
            </div>
            <!-- Credit Limit field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="CreditLimit" name="CreditLimit" class="required" formControlName="CreditLimit"
                    required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="CreditLimit">Credit Limit</label>
                </div>
                <div class="text-danger" *ngIf="(customerForm.controls['CreditLimit'].invalid && customerForm.controls['CreditLimit'].touched) || (customerForm.controls['CreditLimit'].invalid && showAllErrors)">
                  *Credit Limit is Required!
                </div>
              </div>
            </div>
          </div>
          <div>
            <!-- Active field -->
          <div class="row">
              <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
                <label><b>Active?</b></label>
                &nbsp;
                <ejs-switch formControlName="Active" name="active"></ejs-switch>
              </div>
              <!-- Blocked field -->
                 <div>
                  <label><b>Blocked?</b></label>
                  &nbsp;
                  <ejs-switch formControlName="Blocked" name="blocked"></ejs-switch>
                </div>
            </div>
          </div>
            <!-- Customer Account field -->
          <div class="add" [hidden]="BankAccounts.controls.length > 0">
            <label>Customer Account</label>
            &nbsp;
            {{show}}
            <button type="button" ejs-button class="e-info " (click)="addAccount();">add</button>
          </div>
          <div *ngIf="BankAccounts.controls.length > 0" formArrayName="BankAccounts">
            <section class="row" *ngFor="let account of BankAccounts.controls; let index=index; let last=last;"
              [formGroup]="account">
              <!-- Bank Name field -->
              <div class="col-xs-6 col-sm-5 col-lg-5 col-md-5">
                <div class="form-group template">
                  <div class="e-float-input">
                    <input type="text" id="Bank_Name" formControlName="BankName" name="Bank_Name" class="required"
                      required>
                    <span class="e-float-line"></span>
                    <label class="e-float-text" for="Bank_Name">Bank Name</label>
                  </div>
                  <div class="text-danger" *ngIf="(account.controls['BankName'].invalid && account.controls['BankName'].touched) || (account.controls['BankName'].invalid && showAllErrors)">
                    *Bank Name is Required!
                  </div>
                </div>
              </div>
              <!-- Account Number field -->
              <div class="col-xs-6 col-sm-5 col-lg-5 col-md-5">
                <div class="form-group template">
                  <div class="e-float-input">
                    <input type="text" id="Account_Number" name="Account_Number" formControlName="AccountNumber" class="required"
                      required>
                    <span class="e-float-line"></span>
                    <label class="e-float-text" for="Account_Number">Account Number</label>
                  </div>
                  <div class="text-danger" *ngIf="(account.controls['AccountNumber'].invalid && account.controls['AccountNumber'].touched) || (account.controls['AccountNumber'].invalid && showAllErrors)">
                    *Account Number is Required!
                  </div>
                </div>
              </div>
              <div class="btns col-xs-12 col-sm-2">
                <button type="button" ejs-button class="e-round e-info e-small " iconCss="e-icons e-plus-icon"
                  [disabled]="BankAccounts?.invalid" *ngIf="last" (click)="addAccount()"></button>
                &nbsp;
                <button type="button" ejs-button class="e-round e-danger e-small e-icons e-times-icon" (click)="removeAccount(i)"
                  prefixIcon="e-icon e-delete"></button>
              </div>
            </section>
          </div>
        </div>
              <!-- Buttons field -->
        <div class="btn">
          <button ejs-button cssClass="e-success" type="submit">
            SUBMIT
          </button>
          &nbsp;
          <button ejs-button cssClass="e-primary" type="button" (click)="onCancel()">
            CANCEL
          </button>
        </div>
      </form>
    </div>
