<section class="e-card">
  <form [formGroup]="accountForm" novalidate (ngSubmit)="onSubmit()" name="accountForm">

    <div formArrayName="accounts" class="content-wrapper">
      <div *ngFor="let account of accounts.controls; let i=index; let last=last" class="row" [formGroup]="account">
        <div class="col-xs-12 col-sm-6">
          <div class="e-float-input">
            <input type="text" id="accountName" name="accountName" class="required" formControlName="Name" required>
            <span class="e-float-line"></span>
            <label class="e-float-text" for="Name">Name</label>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <ejs-dropdownlist id='accountType' placeholder="Account Type" name="accountType" formControlName="accountType"
            [dataSource]='accountTypes'></ejs-dropdownlist>
        </div>
        <div class="col-xs-12 col-sm-6">
          <ejs-dropdownlist id='parentAccount' placeholder="Parent Account" name="parentAccount" [query]="accountQuery"
            [fields]="accountFields" formControlName="accountCode" [dataSource]='accountList'></ejs-dropdownlist>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="e-float-input">
            <input type="text" id="accountId" name="accountId" class="required" formControlName="AccountId" required>
            <span class="e-float-line"></span>
            <label class="e-float-text" for="Name">Code</label>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6">
          <ejs-dropdownlist id='organization' placeholder="Company" name="organization" [query]="organizationQuery"
            [fields]="organizationFields" formControlName="organizationId" [dataSource]='organizationList'>
          </ejs-dropdownlist>
        </div>
        <div class="col-xs-12 col-sm-6">
          <div class="e-float-input">
            <input type="number" id="openingBalance" name="openingBalance" class="required" formControlName="OpeningBalance"
              required>
            <span class="e-float-line"></span>
            <label class="e-float-text" for="Name">Opening Balance</label>
          </div>
        </div>
        <div class="col-sm-2 col-xs-12">
          <div class="e-float-text">Active</div>
          <ejs-switch formControlName="active" name="status"></ejs-switch>`
        </div>
        <div class="btns col-1">
          <button type="button" ejs-button class="e-round e-info e-small " iconCss="e-icons e-plus-icon" [disabled]="accounts.invalid || !last"
            (click)="addPeriod()">Add</button>
          &nbsp;
          <button type="button" ejs-button class="e-round e-danger e-small e-icons e-times-icon" (click)="accounts.removeAt(i)">Del</button>
        </div>
      </div>
      <div class="row">
        <div class="col submit-container">
          <button ejs-button class=" e-success" [disabled]="accountForm.invalid" type="submit">Submit</button>
          <button ejs-button type="button" class="e-warning">Cancel</button>
        </div>
      </div>
    </div>

  </form>
</section>
