<div class="e-card">
  <div class="col-lg-12 control-section e-input-section">
    <div class="col-lg-12">
      <h4 class="form-title">User Form</h4>
    </div>
    <div>
      <form id="reactive" [formGroup]="userForm" (ngSubmit)="onSubmit()">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input" [ngClass]="{'e-success': userForm.controls.First_Name?.valid}">
                  <input type="text" id="First_Name" name="First_Name" class="required" formControlName="FirstName"
                    required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="FirstName">First Name</label>
                </div>
                <div class="text-danger" *ngIf="(userForm.controls['FirstName'].invalid && userForm.controls['FirstName'].touched) || (userForm.controls['FirstName'].invalid && showAllErrors)">
                  First Name is Required!
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="LastName" name="LastName" class="required" formControlName="LastName"
                    required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="LastName">Last Name</label>
                </div>
                <div class="text-danger" *ngIf="(userForm.controls['LastName'].invalid && userForm.controls['LastName'].touched) || (userForm.controls['LastName'].invalid && showAllErrors)">
                  Last Name is Required!
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div id="mobile-no" class="e-float-input">
                  <input type="text" id="email" name="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    class="required" formControlName="Email">
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Email">Email</label>
                </div>
                <div class="text-danger" *ngIf="(userForm.controls['Email'].invalid && userForm.controls['Email'].touched) || (userForm.controls['Email'].invalid && showAllErrors)">
                  Email is Required!
                </div>
              </div>
            </div>

            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input" >
                  <input type="number" name="phone" minlength="6" required class="required" formControlName="Phone_No">
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Phone_No">Phone No</label>
                </div>
                <div class="text-danger" *ngIf="(userForm.controls['Phone_No'].invalid && userForm.controls['Phone_No'].touched) || (userForm.controls['Phone_No'].invalid && showAllErrors)">
                  Phone No is Required!
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="password" name="password" minlength="6" required class="required" formControlName="Password">
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Password">Password</label>
                </div>
                <div class="text-danger"  *ngIf="(userForm.controls['Password'].invalid && userForm.controls['Password'].touched) || (userForm.controls['Password'].invalid && showAllErrors)">
                  Password is Required!
                </div>
              </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input" >
                  <input type="password" name="confirm_password" minlength="6" required class="required"
                    formControlName="Confirm_Password">
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="confirm_password">Confirm Password</label>
                </div>
                <div class="text-danger"  *ngIf="(userForm.controls['Confirm_Password'].invalid && userForm.controls['Confirm_Password'].touched) || (userForm.controls['Confirm_Password'].invalid && showAllErrors)">
                  Confirm Password is Required!
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <ejs-datepicker [value]='dateValue'  placeholder='Enter Birth Date' formControlName="Birth_Date">
                <div class="e-input-group">
                </div>
              </ejs-datepicker>
            </div>

            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <label>Gender:</label>
                <br>
                <ejs-radiobutton label="Female" name="payment" value="female" checked="true" formControlName="Gender"></ejs-radiobutton>
                <ejs-radiobutton label="Male" name="payment" value="male" checked="true"formControlName="Gender"></ejs-radiobutton>
            </div>
            <div class="text-danger"  *ngIf="(userForm.controls['Gender'].invalid && userForm.controls['Gender'].touched) || (userForm.controls['Gender'].invalid && showAllErrors)">
              Gender is Required!
            </div>   
        </div>
          </div>


         
         
        </div>
        <div class="btn">
          <button ejs-button cssClass="e-success" type="submit"  >
            SUBMIT
          </button>
          &nbsp;
          <button ejs-button cssClass="e-primary" type="button" (click)="onCancel()" >
            CANCEL
          </button>
        </div>
      </form>
      </div>
      </div>
      </div>

  <!-- <h5>Form Status : {{userForm.status}}</h5>
  <h6>form value</h6>
  <pre>{{userForm.value | json}}</pre> -->
