<div class="e-card">
  <div class='cont'>
    <div class="title">
      <h5>Suppliers Data</h5>
    </div>
    <ejs-grid [dataSource]='data' #grid id='supplier' [rowHeight]='30' height='100%' width='100%' [toolbar]='toolbar'
      [allowSorting]="true" allowPaging='true' [pageSettings]='initialPage' allowResizing='true' allowGrouping='true'
      [groupSettings]='groupOptions' allowFiltering='true' [filterSettings]='filterSettings' [allowSelection]='true'
      [selectionSettings]='selectOptions' [enableHover]="false" [editSettings]='editSettings' (toolbarClick)='toolbarClick($event)'
      [allowExcelExport]='true' [allowPdfExport]='true' [editSettings]='editSettings' allowTextWrap='true'
      [textWrapSettings]='wrapSettings' >


      <e-columns>
        <e-column type='checkbox' width='50'></e-column>
        <e-column field='id' [allowFiltering]="false" headerText='ID' textAlign='Center' width=90 isPrimaryKey='true'></e-column>
        <e-column field='FullName' type="string" editType="textbox" headerText='Full Name' textAlign='Center' width=90></e-column>
        <e-column field='Email' type="string" editType="textbox" headerText='Email' textAlign='Center' width=90></e-column>
        <e-column field='PhoneNo' type="string" editType="textbox" headerText='Phone No' textAlign='Center' width=90></e-column>
        <e-column field='Country' type="string" editType="textbox" headerText='Country' textAlign='Center' width=90></e-column>
        <e-column field='City' type="string" editType="textbox" headerText='City' textAlign='Center' width=90></e-column>
        <e-column field='PostalCode' type="string" editType="textbox" headerText='Postal Code' textAlign='Center' width=90></e-column>
        <e-column field='Balance' type="string" editType="textbox" headerText='Balance' textAlign='Center' width=90></e-column>
        <!-- <e-column field='Active' type="string" editType="textbox" headerText='Active' textAlign='Active' width=90></e-column> -->

        <e-column headerText='Delete' width='90' [commands]='commands'></e-column>
      </e-columns>
    </ejs-grid>
  </div>

</div>