<section class="e-card">
  <form [formGroup]="calanderForm" novalidate (ngSubmit)="onSubmit()" name="calanderForm">

    <div formArrayName="calanders" class="content-wrapper">
      <div *ngFor="let calander of calanders.controls; let i=index; let last=last" class="row" [formGroup]="calander">
        <div class="col-8">
          <ejs-daterangepicker (change)="dateChanged($event)" (select)="dateSelected($event)" [minDays]="minDays"
            cssClass="customWeekEnds" placeholder="Select Period Range" [maxDays]="maxDays" [firstDayOfWeek]="firstDay"
            [format]="format" formControlName="order" [attr.name]="'calanderPeriod'+i" [attr.id]="'calanderPeriod'+i">
          </ejs-daterangepicker>
        </div>
        <div class="col-2">
          <ejs-switch [checked]="true" formControlName="active"></ejs-switch>`
        </div>
        <div class="btns">
          <button type="button" ejs-button class="e-round e-info e-small " iconCss="e-icons e-plus-icon" [disabled]="!last || calanders.invalid"
            (click)="addPeriod()">Add</button>
          &nbsp;
          <button type="button" ejs-button class="e-round e-danger e-small e-icons e-times-icon" (click)="calanders.removeAt(i)">Del</button>
        </div>
      </div>
      <div class="row">
        <div class="col submit-container">
          <button ejs-button class=" e-success" [disabled]="calanderForm.invalid" type="submit">Submit</button>
          <button ejs-button type="button" class=" e-warning">Cancel</button>
        </div>
      </div>
    </div>

    <p>
      Form: <code>
        {{calanderForm.value | json}}
      </code>
    </p>
    <p>
    </p>
  </form>
</section>
