.customWeekEnds .e-calendar .e-content .e-weekend span { /* csslint allow: adjoining-classes*/
  color: #ff3337;
  }

  .customWeekEnds .e-calendar .e-content .e-selected span.e-day, /* csslint allow: adjoining-classes*/
.customWeekEnds .e-calendar .e-content .e-selected span.e-day:hover, /* csslint allow: adjoining-classes*/
.customWeekEnds .e-calendar .e-content .e-today.e-selected:hover span.e-day, /* csslint allow: adjoining-classes*/
.customWeekEnds .e-calendar .e-content .e-today.e-selected span.e-day, /* csslint allow: adjoining-classes*/
.customWeekEnds .e-calendar .e-content .e-selected:hover span.e-day /* csslint allow: adjoining-classes*/
{
background-color: #35b86b;
}


.e-card {
  margin: 5%;
  text-align: center;
  width: 80%;

}

h3 {
  border-bottom: 1px solid black;
  margin-bottom: 5px;
}

.submit-container, .submit-container button {
  margin: 10px;
}
.btns {
  text-align: center;
}
