@import "../node_modules/@syncfusion/ej2-ng-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
