/* You can add global styles to this file, and also import other style files */
@import "../node_modules/@syncfusion/ej2-ng-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-ng-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-ng-lists/styles/material.css";
@import '../node_modules/@syncfusion/ej2-ng-grids/styles/material.css';
@import '../node_modules/@syncfusion/ej2-navigations/styles/material.css';
@import "../node_modules/@syncfusion/ej2-ng-buttons/styles/material.css";
@import '../node_modules/@syncfusion/ej2-cards/styles/material.css';


html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
