@import "../node_modules/@syncfusion/ej2-ng-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-calendars/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-navigations//styles/material.css";

html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }

section.e-card {
  margin: 15px;
  width: 95%;
}

.ng-invalid.ng-touched, .ng-invalid.ng-touched > span.e-control-wrapper {
  border-color: rgb(194, 59, 59) !important;
  border-bottom-width: unset !important;
}

.ng-valid.ng-touched,
.ng-valid.ng-touched.e-input-focuse,
.ng-valid.ng-touched > span.e-control-wrapper,
.ng-valid.ng-touched > span.e-control-wrapper.e-input-focus {
  border-color:rgb(31, 255, 31) !important;
  border-bottom-width: unset !important;
}
