<section class="e-card">

    <div class="container">
      <div class="row">
        <div class="col-6 col-xs-12">
          <div class="row">
            <div class="col-2">
              <label for="posingDate">Posting Date</label>
            </div>
            <div class="col-10">
               <ejs-datepicker></ejs-datepicker>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label for="documentType">Document Type</label>
            </div>
            <div class="col-10">
              <ejs-dropdownlist></ejs-dropdownlist>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label for="documentNo">Document No.</label>
            </div>
            <div class="col-10">
              <input type="text">
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label for="customerNumber">Customer</label>
            </div>
            <div class="col-10">
              <ejs-dropdownlist name="customerNumber"></ejs-dropdownlist>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label for="description">Description</label>
            </div>
            <div class="col-10">
              <textarea name="description" id="" cols="30" rows="5"></textarea>
            </div>
          </div>
        </div>
        <div class="col-6 col-xs-12">
          <div class="row">
            <div class="col-2">
              <label for="currencyCode"></label>
            </div>
            <div class="col-10">
              <ejs-dropdownlist></ejs-dropdownlist>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label for="amount">Amount</label>
            </div>
            <div class="col-10">
              <ejs-numerictextbox></ejs-numerictextbox>
            </div>
          </div>
          <div class="row">
            <div class="col-2">
              <label for="remainingAmount">Remaining Amount</label>
            </div>
            <div class="col-10">
              <ejs-numerictextbox></ejs-numerictextbox>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>Posting Date</th>
                <th>Document Type</th>
                <th>Document Number</th>
                <th>Description</th>
                <th>Remaining Amount</th>
                <th>Amount To Apply</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

</section>
