<div class="control-section e-tbar-section">
    <div class="e-sample-resize-container">
        <!-- Render the Toolbar Component -->
        <ejs-toolbar>
            <e-items>
                <e-item prefixIcon='e-tbar-menu-icon tb-icons' tooltipText='Menu'></e-item>
                <e-item align='Center'>
                    <ng-template #template>
                        <div class="e-folder" id="mailTemplate">
                          <div class="e-folder-name">SMART FINANCE</div>
                        </div>
                     </ng-template>
                </e-item>
                <e-item prefixIcon='e-tbar-settings-icon tb-icons' tooltipText='Popup' align='Right'></e-item>
            </e-items>
        </ejs-toolbar>
    </div>
  </div>
