
#inline { width:80%;
    height:auto;
    display:flex;
}
.e-float-input e-input-group {
    width:40%;
    height:100px;
    float: left;
}
.e-grid .e-altrow {
    background-color: #fafafa;
}
.cont {
    overflow: auto;
    min-width: 250px;

}

.title {
    align-content: center;
    align-items: center;
}
.e-grid .e-altrow {
    background-color: #fafafa;
}
.e-card {
    width: 95%;
    min-height: 100%;
    margin-left: 3%;
    margin-top: 2%;
}