.e-card {
    width: 90%;
    min-height: 100%;
    margin-left: 5%;
    /* padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%; */
    margin-top: 1%;
    position: relative;
}
.form-title {
    text-align: left;
    margin-left: 5%;

}

.e-add-icon::before{
    content: "\e823"
}
.e-del-icon::before{
    content: "\e825"
}

.btn {
    padding-left: 60%;
    margin-left: 15%;
  }

#inline { width:90%;
    height:auto;
    display:flex;
}
.e-float-input e-input-group {
    width:40%;
    height:100px;
    /* display: inline-block; */
    float: left;
}
#control_wrapper {
    margin: 25px auto;
}
/* For Success state */
.e-float-input.e-success label.e-float-text,
.e-float-input.e-success input:focus ~ label.e-float-text,
.e-float-input.e-success input:valid ~ label.e-float-text {
  color: #22b24b;
}
