<div class="e-card">
  <div class="col-lg-12 control-section e-input-section">
    <div class="col-lg-12">
      <h4 class="form-title">Supplier Form</h4>
    </div>
    <div>
      <form id="reactive" [formGroup]="suppplierForm" (ngSubmit)="onSubmit()">
        <div class="content-wrapper">
          <div class="row">
            <!-- full name field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input" [ngClass]="{'e-success': suppplierForm.controls.First_Name?.valid}">
                  <input type="text" id="Full_Name" name="Full_Name" class="required" formControlName="Full_Name"
                    required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Full_Name">Full Name</label>
                </div>
                <div class="text-danger" *ngIf="(suppplierForm.controls['Full_Name'].invalid && suppplierForm.controls['Full_Name'].touched) || (suppplierForm.controls['Full_Name'].invalid && showAllErrors)"
                  class="invalid-tooltip)">
                  Full Name is Required!
                </div>
              </div>
            </div>
            <!-- Account number field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="e-float-input">
                <input type="text" id="Account_Number" name="Account_Number" class="required" formControlName="Account_id"
                  required>
                <span class="e-float-line"></span>
                <label class="e-float-text" for="Account_Number">Account ID</label>
              </div>
              <div class="text-danger" *ngIf="(suppplierForm.controls['Account_id'].invalid && suppplierForm.controls['Account_id'].touched) || (suppplierForm.controls['Account_id'].invalid && showAllErrors)"
                class="invalid-tooltip)">
                Account id is Required!
              </div>
            </div>
          </div>
          <!-- email field -->
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div id="mobile-no" class="e-float-input">
                  <input type="text" id="email" name="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    class="required" formControlName="Email">
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Email">Email</label>
                </div>
                <div class="text-danger" *ngIf="(suppplierForm.controls['Email'].invalid && suppplierForm.controls['Email'].touched) || (suppplierForm.controls['Email'].invalid && showAllErrors)"
                  class="invalid-tooltip)">
                  Email Required!
                </div>
              </div>
            </div>
            <!-- Phone number field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input" [ngClass]="{'e-success': suppplierForm.controls.Phone_No?.valid}">
                  <input type="number" name="phone" minlength="6" required class="required" formControlName="Phone_No">
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Phone_No">Phone No</label>
                </div>
                <div class="text-danger" *ngIf="(suppplierForm.controls['Phone_No'].invalid && suppplierForm.controls['Phone_No'].touched) || (suppplierForm.controls['Phone_No'].invalid && showAllErrors)"
                  class="invalid-tooltip)">
                  Phone Number Required!
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- country field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="Country" name="Country" class="required" formControlName="Country" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Country">Country</label>
                </div>
              </div>
            </div>
            <!-- city field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="City" name="City" formControlName="City" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="City">City</label>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <!-- subcity field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="Subcity" name="Subcity" class="required" formControlName="SubCity" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Subcity">Subcity</label>
                </div>
              </div>
            </div>
            <!-- house number field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="House_No" name="House_No" formControlName="House_No" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="House_No">House Number</label>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="Postal_Code" name="Postal_Code" class="required" formControlName="Postal_Code"
                    required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Postal_Code">Postal Code</label>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="btn">
          <button ejs-button cssClass="e-success" type="submit">
            SUBMIT
          </button>
          &nbsp;
          <button ejs-button cssClass="e-primary" type="button" (click)="onCancel()">
            CANCEL
          </button>
        </div>
      </form>
    </div>