<div class="e-card">
  <div class="col-lg-12 control-section e-input-section">
    <div class="col-lg-12">
      <h4 class="form-title">Supplier Form</h4>
    </div>
    <div>
      <form id="reactive" [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
        <div class="content-wrapper">
          <div class="row">
            <!-- full name field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input" [ngClass]="{'e-success': supplierForm.controls.First_Name?.valid}">
                  <input type="text" id="Full_Name" name="Full_Name" class="required" formControlName="FullName"
                    required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Full_Name">Full Name</label>
                </div>
                <div class="text-danger" *ngIf="(supplierForm.controls['FullName'].invalid && supplierForm.controls['FullName'].touched) || (supplierForm.controls['FullName'].invalid && showAllErrors)">
                  *Full Name is Required!
                </div>
              </div>
            </div>
            <!-- email field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div id="mobile-no" class="e-float-input">
                  <input type="text" id="email" name="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    class="required" formControlName="Email">
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Email">Email</label>
                </div>
                <div class="text-danger" *ngIf="(supplierForm.controls['Email'].invalid && supplierForm.controls['Email'].touched) || (supplierForm.controls['Email'].invalid && showAllErrors)"
                  >
                  *Email Required!
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <!-- Phone number field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="number" name="phone" minlength="6" required class="required" formControlName="Phone_No">
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Phone_No">Phone No</label>
                </div>
                <div class="text-danger" *ngIf="(supplierForm.controls['Phone_No'].invalid && supplierForm.controls['Phone_No'].touched) || (supplierForm.controls['Phone_No'].invalid && showAllErrors)">
                  *Phone Number Required!
                </div>
              </div>
            </div>
            <!-- country field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="Country" name="Country" class="required" formControlName="Country" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Country">Country</label>
                </div>
                <div class="text-danger" *ngIf="(supplierForm.controls['Country'].invalid && supplierForm.controls['Country'].touched) || (supplierForm.controls['Country'].invalid && showAllErrors)">
                  *Country Required!
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <!-- city field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="City" name="City" formControlName="City" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="City">City</label>
                </div>
                <div class="text-danger" *ngIf="(supplierForm.controls['City'].invalid && supplierForm.controls['City'].touched) || (supplierForm.controls['City'].invalid && showAllErrors)">
                  *City Required!
                </div>
              </div>
            </div>
            <!-- subcity field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="Subcity" name="Subcity"  formControlName="SubCity" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Subcity">Subcity</label>
                </div>
                <div class="text-danger" *ngIf="(supplierForm.controls['SubCity'].invalid && supplierForm.controls['SubCity'].touched) || (supplierForm.controls['SubCity'].invalid && showAllErrors)">
                  *Sub-City Required!
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <!-- house number field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="House_No" name="House_No" formControlName="HouseNo" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="House_No">House Number</label>
                </div>
                <div class="text-danger" *ngIf="(supplierForm.controls['HouseNo'].invalid && supplierForm.controls['HouseNo'].touched) || (supplierForm.controls['HouseNo'].invalid && showAllErrors)">
                  *House-No is Required!
                </div>
              </div>
            </div>
            <!-- Postal code field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="Postal_Code" name="Postal_Code" class="required" formControlName="PostalCode"
                    required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Postal_Code">Postal Code</label>
                </div>
                <div class="text-danger" *ngIf="(supplierForm.controls['PostalCode'].invalid && supplierForm.controls['PostalCode'].touched) || (supplierForm.controls['PostalCode'].invalid && showAllErrors)">
                  *Postal-Code is Required!
                </div>
              </div>
            </div>

          </div>
          <div class="add" [hidden]="BankAccounts.controls.length > 0">
            <label>Supplier Account</label>
            &nbsp;
            {{show}}
            <button type="button" ejs-button class="e-info" (click)="addAccount()">add</button>
          </div>
          <div *ngIf="BankAccounts.controls.length > 0" formArrayName="BankAccounts">
            <section class="row" *ngFor="let account of BankAccounts.controls; let index=index; let last=last;"
              [formGroup]="account">
              <!-- Account Number field -->
              <div class="col-xs-6 col-sm-5 col-lg-5 col-md-5">
                <div class="form-group template">
                  <div class="e-float-input">
                    <input type="text" id="Bank_Name" name="Bank_Name" class="required" formControlName="BankName"
                      required>
                    <span class="e-float-line"></span>
                    <label class="e-float-text" for="Bank_Name">Bank Name</label>
                  </div>
                  <div class="text-danger"  *ngIf="(account.controls['BankName'].invalid && account.controls['BankName'].touched) || (account.controls['BankName'].invalid && showAllErrors)">
                    *Bank Name is Required!
                  </div>
                </div>
              </div>
              <!-- Account Number field -->
              <div class="col-xs-6 col-sm-5 col-lg-5 col-md-5">
                <div class="form-group template">
                  <div class="e-float-input">
                    <input type="text" id="Account_Number" name="Account_Number" class="required" formControlName="AccountNumber"
                      required>
                    <span class="e-float-line"></span>
                    <label class="e-float-text" for="Account_Number">Account Number</label>
                  </div>
                  <div class="text-danger" *ngIf="(account.controls['AccountNumber'].invalid && account.controls['AccountNumber'].touched) || (account.controls['AccountNumber'].invalid && showAllErrors)">
                    *Account Number is Required!
                  </div>
                </div>
              </div>
              <div class="btns col-xs-12 col-sm-2">
                <button type="button" ejs-button class="e-round e-info e-small " iconCss="e-icons e-plus-icon" (click)="addAccount()"
                  [disabled]="BankAccounts?.invalid" *ngIf="last"></button>
                &nbsp;
                <button type="button" ejs-button class="e-round e-danger e-small e-icons e-times-icon" (click)="removeAccount(i)"></button>
              </div>
            </section>
          </div>

        </div>
        <div class="btn">
          <button ejs-button cssClass="e-success" type="submit">
            {{ id ? 'UPDATE' : 'SUBMIT'}}
          </button>
          &nbsp;
          <button ejs-button cssClass="e-primary" type="button" (click)="onCancel()">
            CANCEL
          </button>
        </div>
      </form>
    </div>
