<div class="e-card">
  <div class="col-lg-12 control-section e-input-section">
    <div class="col-lg-12">
      <h4 class="form-title">Supplier Form</h4>
    </div>
    <div>
      <form id="reactive" [formGroup]="supplierForm" (ngSubmit)="onSubmit()">
        <div class="content-wrapper">
          <div class="row">
            <!-- full name field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input" [ngClass]="{'e-success': supplierForm.controls.FullName?.valid, 'e-error': supplierForm.controls.FullName?.invalid}">
                  <input type="text" id="Full_Name" name="Full_Name" class="required" formControlName="FullName"
                    required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Full_Name">Full Name</label>
                </div>
                <div class="e-error" *ngIf="FullName.errors?.required && FullName.touched">
                  *Full Name is Required!
                </div>
              </div>
            </div>
            <!-- email field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input" [ngClass]="{'e-success': supplierForm.controls.Email?.valid, 'e-error': supplierForm.controls.Email?.invalid}">
                  <input type="text" id="email" name="email" required pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                    class="required" formControlName="Email">
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Email">Email</label>
                </div>
                <div *ngFor="let validation of vMsg.email">
                  <div class="e-error" *ngIf="Email.hasError(validation.type) && (Email.dirty || Email.touched)">
                    *{{validation.message}}
                  </div>
                </div>
                
              </div>
            </div>
          </div>
          <div class="row">

            <!-- Phone number field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input" [ngClass]="{'e-success': supplierForm.controls.PhoneNo?.valid, 'e-error': supplierForm.controls.PhoneNo?.invalid}">
                  <input type="number" name="phone" minlength="6" required class="required" formControlName="PhoneNo">
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="PhoneNo">Phone No</label>
                </div>
                <div class="e-error" *ngIf="PhoneNo.errors?.required && PhoneNo.touched">
                  *Phone Number Required!
                </div>
              </div>
            </div>
            <!-- country field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input" [ngClass]="{'e-success': supplierForm.controls.Country?.valid, 'e-error': supplierForm.controls.Country?.invalid}">
                  <input type="text" id="Country" name="Country" class="required" formControlName="Country" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Country">Country</label>
                </div>
                <div class="e-error" *ngIf="Country.errors?.required && Country.touched">
                  *Country Required!
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <!-- city field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input" [ngClass]="{'e-success': supplierForm.controls.City?.valid, 'e-error': supplierForm.controls.City?.invalid}">
                  <input type="text" id="City" name="City" formControlName="City" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="City">City</label>
                </div>
                <div class="e-error" *ngIf="City.errors?.required && City.touched">
                  *City Required!
                </div>
              </div>
            </div>
            <!-- subcity field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template" [ngClass]="{'e-success': supplierForm.controls.SubCity?.valid, 'e-error': supplierForm.controls.SubCity?.invalid}">
                <div class="e-float-input">
                  <input type="text" id="Subcity" name="Subcity"  formControlName="SubCity" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Subcity">Subcity</label>
                </div>
                <div class="e-error" *ngIf="SubCity.errors?.required && SubCity.touched">
                  *Sub-City Required!
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <!-- house number field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input">
                  <input type="text" id="House_No" name="House_No" formControlName="HouseNo" required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="House_No">House Number</label>
                </div>
              </div>
            </div>
            <!-- Postal code field -->
            <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
              <div class="form-group template">
                <div class="e-float-input" [ngClass]="{'e-success': supplierForm.controls.PostalCode?.valid, 'e-error': supplierForm.controls.PostalCode?.invalid}">
                  <input type="text" id="Postal_Code" name="Postal_Code" class="required" formControlName="PostalCode"
                    required>
                  <span class="e-float-line"></span>
                  <label class="e-float-text" for="Postal_Code">Postal Code</label>
                </div>
                <div class="e-error" *ngIf="PostalCode.errors?.required && PostalCode.touched">
                  *Postal-Code is Required!
                </div>
              </div>
            </div>

          </div>

   <div class="row">
      <!-- Balance  field -->
      <div class="col-xs-6 col-sm-6 col-lg-6 col-md-6">
          <div class="form-group template">
            <div class="e-float-input" [ngClass]="{'e-success': supplierForm.controls.Balance?.valid, 'e-error': supplierForm.controls.Balance?.invalid}">
              <input type="text" id="Balance" name="Balance" formControlName="Balance" required>
              <span class="e-float-line"></span>
              <label class="e-float-text" for="Balance">Balance</label>
            </div>
            <div class="e-error" *ngIf="Balance.errors?.required && Balance.touched">
              *Balance is Required!
            </div>
          </div>
        </div>
   <!-- Active field -->
    <div class="col-xs-3 col-sm-3 col-lg-3 col-md-3">
      <label><b>Active?</b></label>
      &nbsp;
      <ejs-switch  name="active"></ejs-switch>
  </div>
</div>

          <div class="add" [hidden]="BankAccounts.controls.length > 0">
            <label>Supplier Account</label>
            &nbsp;
            {{show}}
            <button type="button" ejs-button class="e-info" (click)="addAccount()">add</button>
          </div>
          <div *ngIf="BankAccounts.controls.length > 0" formArrayName="BankAccounts">
            <section class="row" *ngFor="let account of BankAccounts.controls; let index=index; let last=last;"
              [formGroup]="account">
              <!-- Account Number field -->
              <div class="col-xs-6 col-sm-5 col-lg-5 col-md-5">
                <div class="form-group template">
                  <div class="e-float-input">
                    <input type="text" id="Bank_Name" name="Bank_Name" class="required" formControlName="BankName"
                      required>
                    <span class="e-float-line"></span>
                    <label class="e-float-text" for="Bank_Name">Bank Name</label>
                  </div>
                  <div class="e-error"  *ngIf="(account.controls['BankName'].invalid && account.controls['BankName'].touched) || (account.controls['BankName'].invalid && showAllErrors)">
                    *Bank Name is Required!
                  </div>
                </div>
              </div>
              <!-- Account Number field -->
              <div class="col-xs-6 col-sm-5 col-lg-5 col-md-5">
                <div class="form-group template">
                  <div class="e-float-input">
                    <input type="text" id="Account_Number" name="Account_Number" class="required" formControlName="AccountNumber"
                      required>
                    <span class="e-float-line"></span>
                    <label class="e-float-text" for="Account_Number">Account Number</label>
                  </div>
                  <div class="e-error" *ngIf="(account.controls['AccountNumber'].invalid && account.controls['AccountNumber'].touched) || (account.controls['AccountNumber'].invalid && showAllErrors)">
                    *Account Number is Required!
                  </div>
                </div>
              </div>
              <div class="btns col-xs-12 col-sm-2">
                <button type="button" ejs-button class="e-round e-info e-small " iconCss="e-icons e-add-icon" (click)="addAccount()"
                  [disabled]="BankAccounts?.invalid" *ngIf="last"></button>
                &nbsp;
                <button type="button" ejs-button class="e-round e-danger e-small e-icons e-times-icon" (click)="removeAccount(i)"></button>
              </div>
            </section>
          </div>

        </div>
        <div class="btn">
          <button ejs-button cssClass="e-success" type="submit">
            {{ id ? 'UPDATE' : 'SUBMIT'}}
          </button>
          &nbsp;
          <button ejs-button cssClass="e-primary" type="button" (click)="onCancel()">
            CANCEL
          </button>
        </div>
      </form>
    </div>
